.he {
	padding: 48px 0 12px 12px;
}

.he h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 12px
}

table tr:nth-child(1){
	display: none;
}

table td:nth-child(1){
	background: #e74c3c;
	color: #fff;
	cursor: pointer;
	width: 31px;
}

table td:nth-child(2){
	padding-left: 16px
}

.ns {
	background: #ededed;
	padding: 32px;
	text-align: center;
}

.ns h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px
}